@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.active{
  @apply text-xl font-semibold tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400
}

.default{
  @apply text-xl font-semibold tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-400
}